# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
*.db
sql_app.db

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
